body {
  text-align: center;
}

li {
  margin-top: 50px;
  border-style: solid;
  border-width: medium;
  border-color: black;
}
.items {
  font-size: 20px;
  position: relative;
  text-align: center;

}

#mon-1 {
    background: linear-gradient(to right, black, white, white, black, white, white, black, black, white, white, black, white, white, black, black, white, white, black, white, white, black)
}
#mon-2{
  background: linear-gradient(to right, black, white, white, black, white, white, black, black, white, white, black, white, white, black, black, white, white, black, white, white, black)
}
