body {
  text-align: center;
}

li {
  margin-top: 50px;
  border-style: solid;
  border-width: medium;
  border-color: black;
}
.items {
  font-size: 20px;
  position: relative;
  text-align: center;

}

#plank img{
  position: absolute;
  transform: rotate(90deg);
}

#mon-1 {
    background: linear-gradient(to right, black, white, white, black, white, white, black, black, white, white, black, white, white, black, black, white, white, black, white, white, black)
}
#mon-2{
  background: linear-gradient(to right, black, white, white, black, white, white, black, black, white, white, black, white, white, black, black, white, white, black, white, white, black)
}

.CONSUME {
  color: red;
  background-color: black;
}

.coSt{
  color: darkgray;
  background-color: #917537;
}

.A{
  background-color: #c0ff2e;
  color: #eb238a;
  border-color: black;
  border-width: thick;
  border-style: solid;
  font-size: 48px;
}

#cherry{
  color: red;
}

.column{
  width: 750px;
  float: left;
  text-align: left;
  margin-left: 200px;
  font-size: 24px;

}

img{
  position: relative;
}

#pink {
  margin-left: 50px;
  margin-right: 50px;
}

.quote {
  font-style: italic;
}
